@import '../../scss/variables.scss';

.overlay {
    background-color: #00000083;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: 1;
}

.poster {
    background-color: rgb(0, 0, 0);
    background-image: url('./../../assets/poster-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}



.content {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        font-size: 56px;
        text-align: center;
        color: $primaryColor;
        line-height: 1.2;
    }

    &__text {
        font-size: 26px;
        text-align: center;
        color: $primaryColor;
        margin-top: 20px;
    }
}