.list {
    padding: 0 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
}

span {
    color: #fff;
}

.fakeData {
    width: 200px;
    // border-radius: 50px;
    // overflow: hidden;
}

@media screen and (max-width: 525px){
    .fakeData {
        display: flex;
        justify-content: center;
        // background-color: rgba(69, 69, 69, 0.25);
        width: 100%;
    }
}