@import './../../scss/variables.scss';

.btn {
    width: 100%;
    padding: 6px 12px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: $primaryBtnBg;
    color: $primaryBtnColor;
    border-radius: 5px;
   

    &:hover {
        cursor: pointer;
    }


    &_up {
        transition: all .3s ease-in-out;
        &:hover {
            background-color: rgb(231, 54, 54);            
        }
    }

    &_in {
        background-color: transparent;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        &:hover {
            background-color: rgba(128, 128, 128, 0.2);
            border: 1px solid $primaryBtnColor;
        }
    }
    
}

@media screen and (max-width: 750px){
    .btn {
        width: 80px;
        font-size: 16px; 

    }
}
