.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: transparent;
}

.popup {
    position: fixed;
    top: 96px;
    right: 50px;
    z-index: 10;
    width: 200px;
    padding: 5px 0;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    font-size: 20px;
}

.profile, .logout {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;

    p {
        
    }

    svg {
        margin-right: 5px;
        width: 22px;
        height: 22px;

        fill: #fff;
    }

    &:hover  {
            background-color: rgba(61, 61, 61, 0.817);
            // background-color: #fff;
    }
}


@media screen and (max-width: 750px) {
    .popup {
        right: 15px;
    }    
}