.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000083;
    z-index: 1;
}

.register {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./../../assets/poster-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        background-color: #0000001a;
    }
}