@import './../../scss/variables.scss';

.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 5;
    transition: all .3s ease-in-out;
    
    &__scroll {
        position: fixed;
        background-color: #000000;
    }

    &__logo {
        color: $primaryColor;
         
        &_adaptive {
            font-size: 20px;
            display: none;
        }
        
        &:hover {
            cursor: pointer;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        

}

.user {
    width: 50px;
    height: 50px;
    background-color: #212121;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    svg {
        width: 35px;
        height: 35px;
        fill: #fff;
        transition: all .2s ease-in;
    }

    &:hover svg {
        transform: scale(1.3);
    }

}


@media screen and (max-width: 750px){
    .header {
        padding: 20px 15px;

        &__logo {
            font-size: 20px;
        }

    }
}

@media screen and (max-width: 500px){
    .header {
       

        &__logo {

            display: none;
            &_adaptive {
                font-size: 20px;
                display: block;
            }
        }

    }
}